@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-bottom: 3.5rem;
}

nav {
    display: flex;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    padding-left: 100px;
    padding-right: 100px;
}

.list ul{
    /* gap: 40px; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 30px;
    
}


.list ul li, ul li a{
    /* display: inline; */
    color: black;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    /* margin-top: 10px; */
    font-weight: 500;
    font-family:"Space Grotesk", sans-serif;

}

nav img {
    height: 36px;
    width: 220px;
}

.btn-1{
    border: 1px solid black;
    padding: 16px 27px;
    background-color: white;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 500;
}

/* hovers effect */

.logo img:hover{
    cursor: pointer;
}

.list ul li a:hover{
    border-bottom: 2px solid black;
}

.btn-1:hover{
    cursor: pointer;
    filter: invert();
}


/* main content */

.container{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    /* align-items: center; */
    height: 515px;
}

.text{
    font-family:"Space Grotesk", sans-serif;
    height: 481px;
    width: 531px;
}

.text h1{
    font-size: 60px;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: 0%;
    width: 531px;
    height: 235px;
}

.text p{
    width: 498px;
    height: 112px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.btn-2{
    /* height: 68px;
    width: 264px; */
    background-color: white;
    border: 1px solid black;
    padding: 20px 35px;
    border-radius: 14px;
    font-size: 18px;
    font-weight: 500;
}